<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipessocialapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/yummy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipesSocialApp">

        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feed.FeedActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".forgotpassword.ForgotPasswordActivity"
            android:label="Reset your password" />

        <activity
            android:name=".profilePages.MyProfileActivity"
            android:label="my profile" />

        <activity
            android:name=".profilePages.UserProfileActivity"
            android:label="user_name" />

        <activity
            android:name=".weeklyplan.WeeklyPlanActivity"
            android:label="Weekly Plan" />

        <activity
            android:name=".feed.PostActvity"
            android:label="Post" />

        <activity
            android:name=".shoppinglist.ShoppingListActivity"
            android:label="Shopping List" />

        <activity
            android:name=".search.SearchRecipesActivity"
            android:label="Search" />
        <activity android:name=".createpost.CreatepostActivity"
            android:label="Create Post"/>
    </application>

</manifest>